<!--
    Filename: header.ejs
    Author: Alejandro Akifarry
    SID: 301-195-788
    Date: Oct 8, 2022
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png">
  </head>
  <body>
    <!-- Navbar with Bootstrap 5 -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light rounded" >
      <div class="container-fluid">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="/">
            <img src="/images/Logo.png" alt="Logo" style="width:100px;" class="rounded-pill"> 
          </a>

          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "Home"){  %>
              <a class="nav-link active" href="/">
            <% } else { %>  
              <a class="nav-link" href="/">
            <% } %>
            <i class="fa-solid fa-house"></i>
                Home
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "Projects"){  %>
              <a class="nav-link active" href="/projects">
            <% } else { %>  
              <a class="nav-link" href="/projects">
            <% } %>
            <i class="fa-solid fa-folder"></i>
              Projects
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "Services"){  %>
              <a class="nav-link active" href="/services">
            <% } else { %>  
              <a class="nav-link" href="/services">
            <% } %>
            <i class="fa-solid fa-bell-concierge"></i>
              Services
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "About Me"){  %>
              <a class="nav-link active" href="/about">
            <% } else { %>  
              <a class="nav-link" href="/about">
            <% } %>
            <i class="fa-solid fa-address-card"></i>
            About Me
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "Contact"){  %>
              <a class="nav-link active" href="/contact">
            <% } else { %>  
              <a class="nav-link" href="/contact">
            <% } %>
            <i class="fa-solid fa-phone"></i>
              Contact Me
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">
            <% if(title == "Contact List"){  %>
              <a class="nav-link active" href="/contacts/list">
            <% } else { %>  
              <a class="nav-link" href="/contacts/list">
            <% } %>
            <i class="fa-solid fa-list-ul"></i>
              Contact List
            </a>
          </li>
          <li class="nav-item d-flex align-items-center p-4">  
            <% if (typeof userName == 'string' && userName) { %>
              <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure you want to sign out?')"><i class="fa-solid fa-user"></i>&nbsp;Sign Out (<%= userName %>)</a>
            <% } else { %>
              <a class="nav-link" href="/users/signin"><i class="fa-solid fa-user"></i>&nbsp;Sign In</a>
            <% } %>            
          </li> 
        </ul>
      </div>
    </nav>
<main>