<% include partials/header.ejs %>

<div class="container-fluid p-5 row">
    <div class="col-sm-2">
        <img src="/images/head.jpg" alt="Logo" style="width:100%;">
    </div>
    <div class="col-sm-10 p-5">
        <h1>Alejandro Akifarry</h1>
        <h5>Aspiring Software Engineer</h5>
        <p class="pt-5 lh-lg">
            I have an academic background in Computer Science, with specializations in software engineering and artificial intelligence. 
            Previously, as a Software Engineer Intern, I gained wide-ranging skills from JavaScript to SQL, as well as applied experience in 
            Agile methodology and the SDLC. My skillset includes those in Java, Python, C/C++, SQL, HTML, CSS, JavaScript, and MySQL. 
            I consistently love to learn and grow in my knowledge, pursuing artificial intelligence as a way to further expand on my understanding 
            of machine learning and data science. In addition, I have strong communication and interpersonal skills which 
            I have demonstrated from my customer service experience.    
        </p>
    </div>
</div>

<% include partials/footer.ejs %>