<!--
    Filename: projects.ejs
    Author: Alejandro Akifarry
    SID: 301-195-788
    Date: Oct 8, 2022
-->

<% include partials/header.ejs %>

<div class="container-fluid p-5">
    <!-- Table with Bootstrap 5 -->
    <table class="table table-dark table-hover" >
        <thead>
            <tr>
              <th style="width: 20%">Project name</th>
              <th style="width: 50%">Description</th>
              <th>Image</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>This very website!</td>
            <td>
                This website is very much still under progress and will be improved as time goes on. 
                It's a project for an assignment for the class COMP229 that I am currently working on. 
                It uses the ExpressJS as well as Bootstrap 5 for the styles! The outcome of this project is
                to become my main portfolio website to show to the recruiters!
            </td>
            <td><img src="/images/website_ss.png" style="width: 100%"></td>
          </tr>
          <tr>
            <td>Pop The Balloon Game</td>
            <td>
                A game where you pop as many balloons as you can under a time limit! I made it with Python, specifically the pygame
                module using the PyCharm IDE. I learned how to make the UI for the menu as well as a slide bar
                for the volume in the settings menu. The outcome of this project is that I learned more about Python and what it can do!
            </td>
            <td><img src="/images/pop_ss.png" style="width: 100%"></td>
          </tr>
          <tr>
            <td>Bill Calculator/Helper</td>
            <td>
              A simple application to help calculate each individual charge on a family plan. I made it with Python using TkInter and
              Pyperclip module using the Atom IDE. I made it to make my life easier since I'm the head of a family plan with my friends
              and this application made calculating the charges faster than calculating by hand. The outcome of this project is that
              not only I learned more about Python, it also saves me time each month when calculating how much to charge my friends!
            </td>
            <td><img src="/images/bill_ss.png" style="width: 100%"></td>
          </tr>
        </tbody>
      </table>
      <!-- <a href="/pdf/Resume.pdf">PDF of my Services</a> -->
</div>

<% include partials/footer.ejs %>